<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap"/>
    </head>
    <body>
        <link href="/static/style.css" rel="stylesheet" />
        <script src="/static/game.js"></script>

        <div class="container pt-3">

            <div class="row text-center">
                <div class="col-sm-4 text-center">
                    <h1>GUESS ME!</h1>
                    <p>Click on the alphabets to guess the word!</p>
                </div>
            </div>
    
            <div class="row text-center">
                <div class="col-sm-4 text-center" id="alphabets">
                    <script src="/static/createKeyboard.js"></script>
                </div>
            </div>
    
            <div class="row text-center">
                <div class="col-sm-4 text-center">
                    <span>Remaining Life:</span>
                    <span id="life">5</span>
                </div>
            </div>
    
            <div class="row text-center">
                <div class="col-sm-4 text-center">
                    <span>Hint: Category is</span>
                    <span id="hint"></span>
                </div>
            </div>
    
            <div class="row text-center">
                <div class="col-sm-4 text-center">
                    <p id="blanks"></p>
                </div>
            </div>
        </div>
    
        <div class="row text-center">
            <div class="col-sm-4 text-center">
                <p id="result"></p>
            </div>
        </div>
        </div>
    </body>
</html>